.optimisticRow {
  animation: shimmer-and-pulse 2s infinite;
  background: linear-gradient(
    110deg,
    var(--mantine-color-white) 0%,
    var(--mantine-color-blue-1) 50%,
    var(--mantine-color-white) 100%
  );
  background-size: 200% 100%;
}

@keyframes shimmer-and-pulse {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
