.featureList {
  position: relative;
}

.featureItem {
  display: flex;
  padding: var(--mantine-spacing-md) 0;
  cursor: pointer;
  position: relative;
}

.stepperLine {
  width: 2px;
  background-color: var(--mantine-color-gray-3);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--mantine-color-gray-3);
  position: absolute;
  left: -4px;
  top: var(--mantine-spacing-xl);
  transition: background-color 0.2s ease;
}

.featureItem.active .dot {
  background-color: var(--mantine-color-blue-6);
}

.content {
  margin-left: var(--mantine-spacing-xl);
  flex-grow: 1;
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
}

.title {
  font-weight: 700;
  font-size: var(--mantine-font-size-lg);
  margin-bottom: var(--mantine-spacing-xs);
}

.description {
  color: var(--mantine-color-gray-6);
  margin-bottom: var(--mantine-spacing-md);
}

.button {
  padding: 0;
  color: var(--mantine-color-blue-6);
}

.button:hover {
  background-color: transparent;
  text-decoration: underline;
}

.featureItem:hover .content {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.featureItem.active .content {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}
